<!-- <h1> Side bar </h1> -->
<!-- <ul style="margin-top:100px;">
<li>
    <a routerLink="/dashboard">Dashboard</a>
</li>
<li>
    <a routerLink="/userMaster">User Master</a>
</li>
</ul> -->




<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu" data-metis-menu>
      <li href-active="active">
        <a routerLink="/dashboard"><i class="fa fa fa-th-large"></i> <span class="nav-label">DASHBOARD</span></a>
      </li>
      <li >
        <a style="float:left;"><i class="fa fa-university"></i>
          <span class="nav-label" >SCHOOLS</span><!-- <span class="fa arrow"></span> -->
        </a>
        <a style="display:inline-block;float:right" routerLink="/addschool"><span class="label label-info pull-right">+</span></a>
        <!--<ul class="nav nav-second-level collapse">
          <li><a href="schools.add">Add School</a></li>
          <li><a href="schools.list">List School</a></li>
        </ul>-->
      </li>
      <li  style="clear:both;">
        <a ><i class="fa fa-users"></i> <span class="nav-label">EMPLOYEE</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a routerLink="/addemployee">Add Employees</a></li>
          <li><a routerLink="/manageemployee">Manage Employees</a></li>
        </ul>
      </li>
      <li >
        <a ><i class="fa fa-users"></i> <span class="nav-label">STUDENTS</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a routerLink="/addstudent" ng-class="{active:$state.includes('students.add')}">Add</a></li>
          <li><a routerLink="/studentlist" ng-class="{active:$state.includes('students.manage')}">List</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="attendance"><i class="fa fa-briefcase"></i> <span class="nav-label">ATTENDANCE</span> </a>
      </li>
      <li ng-if="true" ng-class="{active:$state.includes('timetable')}">
        <a routerLink="/timetable"><i class="fa fa-clock-o"></i> <span class="nav-label">TIME TABLE</span></a>
      </li>
      <li >
        <a ><i class="fa fa-money"></i> <span class="nav-label">FINANCE</span><span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse">
          <li><a routerLink="/financefee">Fees</a></li>
          <li><a routerLink="/financategory">Category</a></li>
          <li><a routerLink="/financetransaction">Transaction</a></li>
          <li><a routerLink="/finandonation">Donations</a></li>
          <li><a routerLink="/financepayslip">Payslip</a></li>
          <li><a routerLink="/financereport">Finance Reports</a></li>
          <li><a routerLink="/assetmanagement">Asset Management</a></li>
          <li><a routerLink="/financereport">Tally report</a></li>
        </ul>
      </li>
      <li>
        <a ><i class="fa fa-bed"></i> <span class="nav-label">HOSTEL</span><span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse">
          <li><a routerLink="/hostelroomallocation">Room Allocation</a></li>
          <li><a routerLink="/hostelfeecollection">Fee Collection</a></li>
          <li><a routerLink="/hostelfeepay">Hostel Fee Pay</a></li>
          <li><a routerLink="/hostelfeedefauleter">Hostel Fee Defaulters</a></li>
          <li><a routerLink="/hostelreport">Report</a></li>
          <li><a routerLink="/hosteadditiondetail">Hostel Additional Details</a></li>
          <li><a routerLink="/hostelroomadditionaldetail">Room Additional Details </a></li>
        </ul>
      </li>
      <li >
        <a><i class="fa fa-bus"></i> <span class="nav-label">TRANSPORT</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a routerLink="/transportsetroute">Set Routes</a></li>          
          <li><a routerLink="/transportfee">Transport Fee </a></li>
          <li><a routerLink="/transportreport">Report</a></li>
          <li><a routerLink="/transportmanageroute">Manage Route Additional Details</a></li>
          <li><a routerLink="/transportmanagevehicle">Manage Vehicle Additional Details </a></li>
        </ul>
      </li>
      <li>
        <a><i class="fa fa-cog"></i> <span class="nav-label">SETTINGS</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a routerLink="/generalsettings">General</a></li>
          <li><a routerLink="/acadamicsettings">Academics</a></li>
          <li><a routerLink="/studentsettings">Students</a></li>
          <li><a routerLink="/employeesettings">Employees</a></li>
          <li><a routerLink="/paymentsettings">Payment</a></li>
        </ul>
      </li>

    </ul>

  </div>
</nav>


